.categoryTitle {
	font-size: 45px;
	margin-bottom: 25px;
	text-align: center;
}

.productsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 3.125rem;
	column-gap: 0.625rem;
	/* justify-items: center; */

	@media screen and (max-width: 800px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
}
